/* body */
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --text-color-white: #ffffff;
  --text-footer: #ffffff99;
  --border-color: #ececec;
  --border-portfolio-color: #eeeeee;
  --portfolio-button-color: #f5f4fa;
  --text-color: #212121;
  --portfolio-color-title: #757575;
  --hero-background-color: #2f303a;
  --footer-item-color: rgba(255, 255, 255, 0.6);
  --social-icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  /* max-width: 1600px;
  margin: 0px auto; */
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
/* Изменяет фон заголовка h1 */
.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/header-background.jpg);
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header .container {
  display: flex;
  align-items: center;
}

.main-nav .logo {
  margin-right: 93px;
}
.header-list {
  display: flex;
}
.header-list-contact {
  display: flex;
  margin-left: auto;
}
.header-list .item + .item {
  margin-left: 50px;
}
/* .header-list:not(:last-child) {
  margin-right: 50px;
} */
.header-list-contact .item + .item {
  margin-left: 50px;
}

.main-nav {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid var(--border-color);
  max-width: 1600px;
  margin: 0px auto;
}

/*Делает стиль логотипа logotip */
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}
/* Делает слово Studio в логотипе синим */
.logo-span {
  color: var(--accent-color);
}

/* Делает слово Studio в логотипе footer белым */
.logo-span-footer {
  color: var(--primary-white-color);
}
/* Делает подсветку при наведении курсора или перехода цветом для nav и footer */
.footer-list .footer-item:hover,
.footer-list .footer-item:focus,
.footer-list .footer-map:hover,
.footer-list .footer-map:focus,
.header-list .link:active,
.header-list .link:hover,
.header-list .link:focus,
.header-list-contact .link-contact:hover,
.header-list-contact .link-contact:focus,
.header-list .link.current,
.header-list-contact .link-contact.current {
  color: var(--accent-color);
}
/* Делаем подчеркивание текущей страницы */
.site-nav .current {
  position: relative;
}

.site-nav .current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: 0;
  position: absolute;
}

/* Делает футер в стиле */
.footer-list .footer-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--footer-item-color);
  margin-right: 10px;
}
/* Делает цвет текста ссылки на карту */
.footer-map {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}
/* Делаем цвет фона footer */
.footer-background {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin: 0px auto;
}
/* Убираем маркеры в списках */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Изменяет стили и цвет header навигации */
.site-nav .link {
  display: block;
  padding: 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}
/* Изменяет стили и цвет header контакты */
.link-contact {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--portfolio-color-title);
  padding: 32px 0px;
}
/* Изменяет курсор на кнопке заказать услугу в секции3 */
.section-hero-button {
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
}

.section-hero-button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Изменяет шрифт Эффективные решения для вашего бизнеса */
.section-3-text-color {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* Изменяет текст секции 4 заголовков h3 */
.section-4-h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list {
  display: flex;
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}
.features-item + .features-item {
  margin-left: 30px;
}

.features-item {
  width: 270px;
}
.services {
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}
.services-list {
  display: flex;
}
.services-item + .services-item {
  margin-left: 30px;
}
/* Наложение подписи в секции чем мы занимаемся поверх изображения */
.services-thumb {
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.services-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.services-desktop {
  position: relative;
}
/* Изменяет текст секции 4 */
.section-4-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
  margin-top: 10px;
}
/* Изменяет текст секции 5 заголовков h2 */
/* Изменяет текст секции 6 заголовка h2 */
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* Изменяет текст секции 6 заголовков h3 имя и фамилия команды */
.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

/* Изменяет текст секции 6 */
.section-6-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
}
/* Изменяет фон секции 6 */
.team {
  background-color: var(--portfolio-button-color);
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}
.team-list {
  display: flex;
}
.team-item {
  background-color: var(--primary-white-color);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item + .team-item {
  margin-left: 30px;
}
.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.footer-background .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item + .footer-item {
  margin-top: 9px;
}
/* Изменяет в Porffolio текст кнопок фильтра */
.section-list-button button {
  display: inline-block;
  border: 1px solid transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-button-color);
  /* shadow-middle */
  border-radius: 4px;
  padding: 6px 22px;
}

.nobull {
  list-style-type: none;
}
.portfolio-text a {
  text-decoration: none;
}
.portfolio-text h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.portfolio-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--portfolio-color-title);
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section-list-button + .section-list-button {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  display: block;
}

.portfolio-item:hover,
.portfolio-item:focus {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}
.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 34px;
}
.portfolio-box {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-color);
  border-top: none;
}
.portfolio-item .portfolio-overlay-text {
  background: rgba(33, 150, 243, 0.9);
  color: var(--text-color-white);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item .portfolio-thumb {
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio-item-img {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .portfolio-overlay-text,
.portfolio-item:focus .portfolio-overlay-text {
  transform: translateY(0%);
}
img {
  display: block;
  max-width: 100%;
}
.list-button button:hover,
.list-button button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link-contact .header-list-icon {
  margin-right: 10px;
  fill: currentColor;
}

.features-list .features-item .features-item-wallpaper {
  background-color: var(--portfolio-button-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
}

.team-social-list .team-social-item .team-social-link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--accent-color);
}
.team-social-list {
  display: flex;
  margin-top: 16px;
}
.team-social-icon {
  fill: var(--social-icon-color);
}
.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: var(--primary-white-color);
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
}
.client {
  background-color: var(--primary-white-color);
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0px auto;
}
.client-list {
  display: flex;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon-color);
  border-radius: 4px;
  fill: var(--social-icon-color);
}
.client-item + .client-item {
  margin-left: 30px;
}

.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.footer-social-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer-social-list {
  display: flex;
  margin-top: 20px;
}
.footer-social {
  margin-left: 70px;
}
.footer-social-link {
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: var(--footer-icon-color);
  fill: var(--primary-white-color);
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-section {
  display: flex;
  align-items: baseline;
}
.logo-adress {
}
/* Модальное окно */
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* модальное окно высвечиваеться */
  /* opacity: 1;
  visibility: visible;
  pointer-events: auto; */
  transition: opacity 500ms linear, visibility 500ms linear, transform 1s;
}

.modal-window {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  cursor: pointer;
  padding: 0px;
}
.icon-modal-close-btn {
}

/* Прячем модальное окно */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transform: translate(30%, 50%); */
  transform: scale(0.1);
}
